VITE_SUPABASE_URL=https://nlzhllhkigmsvrzduefz.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im5semhsbGhraWdtc3ZyemR1ZWZ6Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzQzNTA5MDEsImV4cCI6MjA4OTkyNjkwMX0.HiZ-PkK7PevaG-BeQzMZhmbmGZ04xqBewEidhDEy1u8
